<style>
        .sbsUninstallForm {
            width: 500px;
            background-color: #eee;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 40px auto;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
        }
        .sbsUninstallForm h1 {
            font-size: 1.3em;
            border-bottom: 1px solid #ccc;
            margin-top: 0;
        }
        .sbsUninstallForm p.buttons {
            text-align: center;
            margin-top: 25px;
        }
</style>
<div class="sbsUninstallFormWrapp sbsHidden">
    <form id="sbsUninstallForm">
        <h1>Slider by Supsystic - Uninstall</h1>
        <p>Do you want to remove all plugin photos, folders and sliders?</p>
        <p>
            <strong>Note:</strong>
            This action can't be undone.
        </p>
        <p class="buttons">
            <input type="submit" name="drop" value="Yes"/>
            <input type="submit" name="drop" value="No"/>
        </p>
    </form>
</div>